body {
    margin: 50px 0 30px 0;
    min-height: calc(100% - 60px);
}

.clickable {
    cursor: pointer;
}

.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    @include navFooter('top');
}

.footer {
    height: 30px;
    width: 100%;
    @include navFooter('bottom');
}

.home-container {
    margin-top: 30vh;
}
