<div ng-init="init()" class="container">
    <div class="row">
        <div class=" col-md-4 col-md-offset-4">
            <div class="testTile text-center" ng-click="noty()">
                Welcome to the Home view!
            </div>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <div class="testTile text-center">
                Welcome to the Home view!
            </div>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <div class="testTile text-center">
                Welcome to the Home view!
            </div>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <div class="testTile text-center">
                Welcome to the Home view!
            </div>
        </div>
        <div class=" col-md-4 col-md-offset-4">
            <div class="testTile text-center">
                Welcome to the Home view!
            </div>
        </div>
    </div>
</div>